///imports///

@import "var";
//boton 3d contacto///


//mixin////
@mixin threed-button($base-color){
    $shadow: "";
  
    @for $i from 1 through 4{
      $shadow: $shadow + "#{$i}px #{$i}px 0px 2px " + darken($base-color,$i*5) + ",";
    } 
  
    $shadow : str-slice($shadow,0,str-length($shadow)-1);
    appearance: none;
    border:none;
    background: $base-color;
    box-shadow: unquote($shadow); 
    }
    .buttononee {
        @include threed-button(#ffffff);
        font-size:18px;
        color:white;
      }

     


body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  
    .navbar-brand {
        color: $color;
    }

  
    .textoindex {
   
    font: $title-font;
    color: $color; }
   

.textonosotros {
    font: $title-font;
    color: $color;
}
.textoservicios {
    font: $title-font;
    color: $color;
}

.textocontacto {
    font: $title-font;
    color: $color;
}

.textocontacto1 {
    font: $title-font1;
    color: $color1;
}

.buttononee {
    @include threed-button(#ffffff);
    font-size:18px;
    color:white;}

}

