<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SLC </title> <link rel="shortcut icon" href="../assets/img/favicon-32x32.png" type="image/x-icon">
    
    <!-- link bootstrap ----------------------------->
    <link rel="stylesheet" href="../styles/css/bootstrap.min.css">
    <!-- link css  ---------------------------------->
    <link rel="stylesheet" href="../styles/css/">
</head>
<body>
  
  <!-- nav bar ------------------------------------------------>
    <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
    <a class="navbar-brand" href="../index.html">SLC</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./service.html">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./nosotros.html">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./contact.html"">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- titulo -->
<div class="text-center">
    <h1 class="text-dark">Contactanos</h1>
</div>
<!-- 1 texto -->
<div class="border m-3 p-3">
  <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Texto</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <div>
        <div class="btn-group btn-group-lg" role="group" aria-label="Large button group">       
        <button type="button" class="btn btn-secondary">Enviar</button>
    </div>
    </div>
 </div>
 <div>
    <h2 class="text-center"> Nos encontramos en la ciudad de Bahia Blanca
     </h2>
 </div>

  

    
  
<!-- footerrrrrrrrrrrrrrrrr -->
<footer>
<div class="container-fluid">
  <div class="row p-5 bg-dark text-white">
    <div class= "col-xs-12 col-md-6 col-lg-3">
      <p>
      <a href="https://www.instagram.com/slcinformaticasbahiablanca/" target="_blank"><img src="../assets/img/3225191_app_instagram_logo_media_popular_icon.png" alt="Instagram"></a> </p>
    </div>
  <div class= "col-xs-12  col-md-6 col-lg-3">
    <p>
      <a href="https://www.facebook.com/Slcinformaticasbahiablanca" target="_blank"><img src="../assets/img/3225194_app_facebook_logo_media_popular_icon.png" alt="Facebook"></a>
    </p>
  </div>
  <div class="col-xs-12  col-md-6 col-lg-3">
    <p>
      <a href="mailto:slcinformaticabahiablanca@gmail.com?Subject=Aquí%20el%20asunto%20del%20mail"><img src="../assets/img/764820_hexagon_mail_media_social_icon.png" alt=""></a>
    </p>
  </div>
  <div class= "col-xs-12  col-md-6 col-lg-3">
    <p>Bahia Blanca, Buenos Aires, Argentina.</p>
  </div>
 </div>
</div>
</footer>
  <!-- SCRIPT BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>
</html>