<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SLC </title> <link rel="shortcut icon" href="../assets/img/favicon-32x32.png" type="image/x-icon">
    
    <!-- link bootstrap ----------------------------->
    <link rel="stylesheet" href="../styles/css/bootstrap.min.css">
    <!-- link css  ---------------------------------->
    <link rel="stylesheet" href="../styles/css/estilos.css">
</head>
<body>
  
  <!-- nav bar ------------------------------------------------>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="../index.html">SLC</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav " >
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./service.html">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./nosotros.html">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./contact.html"">Contacto</a>
        <!-- </li> -->
      </ul>
    </div>
  </div>
</nav>
<!-- main-->
<main>
  <div class="container-fluid">
    <div class="row">
      <div class="shadow-none bg-light col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <h1 class="textocontacto fw-bold text-center ">Nosotros
        </h1>
        <p class="fw-semibold text-center "> SLC Servicios Informáticos es una empresa pionera en la prestación de servicios informáticos PYMES y corporativos, creada para garantizar la seguridad y correcto funcionamiento de sus sistemas, permitiéndole a los empresarios y directivos centrarse en sus negocios. Desde hace más de 5 años presta servicios a reconocidas empresas de plaza en los rubros de Soporte e Instalaciones, Seguridad informática, Consultoría informática, Auditoría informática, Monitoreo preventivo, Tercerización de servicios, Virtualización, Licenciamiento de software entre otros.
        SLC Servicios Informáticos presta sus servicios en forma altamente personalizada, comprendiendo que cada empresa es única, creando una solución a la medida de cada necesidad. Somos especialistas en identificar y entender las necesidades informáticas de nuestros clientes para ofrecerles la mejor solución integral.
        La alta calidad y confiabilidad de los servicios prestados por SCD Servicios Informáticos, como así también su extensa trayectoria la convierte en uno de los principales referentes de plaza en un tema imprescindible hoy en día, como es la Seguridad Informática.
        Cuenta con un staff de más de 30 profesionales altamente calificados, laboratorios propios y una flota de vehículos que las 24 horas del día, los 365 días del año se encuentran al servicio de los clientes.SLC Servicios Informáticos es miembro de las más prestigiosas asociaciones nacionales e internacionales dedicadas a la Auditoria Informática manteniéndonos actualizados e implementando permanentemente las últimas recomendaciones emanadas de las mismas.
        </p>
      </div>
      <div class="p-4  col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <p class="fw-semibold text-center ">
          <img class="img-fluid" src="../assets/img/fotonosotros.jpg" alt="">
        </p>

        <p class="fw-semibold text-center ">
          <img class="img-fluid" src="../assets/img/nosotros1.jpg" alt="">
        </p>
      </div>
    </div>
  </div>
</main>


  

    
  
<!-- footerrrrrrrrrrrrrrrrr -->
<footer>
<div class="container-fluid">
  <div class="row p-2 bg-dark text-white">
    <div class= "col-xs-12 col-md-6 col-lg-3">
      <p>
      <a href="https://www.instagram.com/slcinformaticasbahiablanca/" target="_blank"><img src="../assets/img/3225191_app_instagram_logo_media_popular_icon.png" alt="Instagram"></a> </p>
    </div>
  <div class= "col-xs-12  col-md-6 col-lg-3">
    <p>
      <a href="https://www.facebook.com/Slcinformaticasbahiablanca" target="_blank"><img src="../assets/img/3225194_app_facebook_logo_media_popular_icon.png" alt="Facebook"></a>
    </p>
  </div>
  <div class="col-xs-12  col-md-6 col-lg-3">
    <p>
      <a href="mailto:slcinformaticabahiablanca@gmail.com?Subject=Aquí%20el%20asunto%20del%20mail"><img src="../assets/img/764820_hexagon_mail_media_social_icon.png" alt=""></a>
    </p>
  </div>
  <div class= "col-xs-12  col-md-6 col-lg-3">
    <p>Bahia Blanca, Buenos Aires, Argentina.</p>
  </div>
 </div>
</div>
</footer>
  <!-- SCRIPT BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>
</html>