<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SLC </title> <link rel="shortcut icon" href="../assets/img/favicon-32x32.png" type="image/x-icon">
    
    <!-- link bootstrap ----------------------------->
    <link rel="stylesheet" href="../styles/css/bootstrap.min.css">
    <!-- link css  ---------------------------------->
    <link rel="stylesheet" href="../styles/css/estilos.css">
</head>
<body>
  
  <!-- nav bar ------------------------------------------------>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="../index.html">SLC</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav " >
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./service.html">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./nosotros.html">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./contact.html"">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- titulo -->
<div class="container-fluid bg-light rounded ">
    <h1 class="textoservicios fw-bold text-center">Nuestros Servicios</h1>   
    <div class=" row ">
      <div class=" shadow-none p-4 mb-5 bg-light rounded  col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <section class="p-2 border shadow">
        <h2 class="fs-3 text-secondary ">Soporte Técnico Informático</h2>
        <p>Nuestro modelo de prestación de servicios como Soporte Técnico Informático, ha sido utilizado exitosamente por más de 20 años en diferentes empresas de Argentina y el Mercosur, logrando disminuir la cantidad de incidencias mensuales y los tiempos de parada de los equipos y sistemas de toda la empresa .</p>
        
        </section>
      </div>
      <div class="shadow-none p-4 mb-5 bg-light roundedrow col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <section class="p-2 border shadow">
        <h2 class="fs-3 text-secondary">Gerenciamiento IT</h2>
        <p>Desde SLC ofrecemos la posibilidad de profesionalizar su departamento de sistemas tercerizando la Gerencia del área, optimizando primero los recursos del cliente interno lo que redundara, sin duda, en un mejor rendimiento en la prestación del soporte a usuario y de la infraestructura IT de su organización a nivel global.</p>
        </section>
      </div>
      <div class=" shadow-none p-4 mb-5 bg-light rounded  col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <section class="p-2 border shadow">
        <h2 class="fs-3 text-secondary">Infraestructura IT</h2>
          <p>La complejidad de los sistemas informáticos hace necesario contar con especialistas competentes para tomar decisiones acerca de la compra o renovación de sistemas, equipamiento y redes.</p>
        </section>   
       </div>
         <div class=" shadow-none p-4 mb-5 bg-light rounded  col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <section class="p-2 shadow border">
          <h2 class="fs-3 text-secondary">Seguridad Informática</h2>
          <p >Es indispensable que toda empresa moderna cuente con un respaldo que le permita operar con la tranquilidad y seguridad necesaria. En SLC  estamos siempre a su disposición para diseñar la mejor política de seguridad informática para su empresa.</p>
         </section> 
        </div>
        <div class="row ">
          <div class="col-xs-12 col-md-6 col-lg-6 p-4 mb-5 bg-light rounded  "> 
           <img src="../assets/img/foto servicio.jpg" class=" rounded img-fluid" alt="nosotrostecno">
           </div>  
           <div class="col-xs-12 col-md-6 col-lg-6 p-4 mb-5 bg-light rounded  ">     
             <img src="../assets/img/foto servicio1.jpg" class="rounded img-fluid  " alt="nosotrostecno1">
           </div>  

       

    </div>
  </div>

<!-- footerrrrrrrrrrrrrrrrr -->
<footer>
  <div class="container-fluid">
    <div class="row row  p-2 bg-dark text-white">
      <div class="col-xs-3 col-sm-3  col-md-3 col-lg-3">
        <p>
        <a href="https://www.instagram.com/slcinformaticasbahiablanca/" target="_blank"><img src="../assets/img/3225191_app_instagram_logo_media_popular_icon.png" alt="Instagram"></a> </p>
      </div>
      <div class="col-xs-3 col-sm-3  col-md-3 col-lg-3">
      <p>
        <a href="https://www.facebook.com/Slcinformaticasbahiablanca" target="_blank"><img src="../assets/img/3225194_app_facebook_logo_media_popular_icon.png" alt="Facebook"></a>
      </p>
    </div>
    <div class="col-xs-3 col-sm-3  col-md-3 col-lg-3">
      <p>
        <a href="mailto:slcinformaticabahiablanca@gmail.com?Subject=Aquí%20el%20asunto%20del%20mail"><img src="../assets/img/764820_hexagon_mail_media_social_icon.png" alt=""></a>
      </p>
    </div>
    <div class="col-xs-3 col-sm-3  col-md-3 col-lg-3">
      <p>Bahia Blanca, Buenos Aires, Argentina.</p>
    </div>
   </div>
  </div>
  </footer>
  <!-- SCRIPT BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>
</html>